.header {
  font-size: 30px;
  display: flex;
  width: 100vw;
  height: 10vh;
  color: #563d7c;
  background: #f9f9f9;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 4px solid #563d7c;
}
