.red {
  color: red;
}

.blue {
  color: blue;
}

.header {
  color: #0a8;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding-left: 5vw;
  padding-right: 5vw;
  position: fixed;
}
